<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>传感器模拟</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/sensor.js" type="application/javascript"></script>
</head>
<body>
<div>
    <table class="table table-bordered" id="dataTable" style="height: 500px;font-size: 20px">
        <tr>
            <th style="width: 15%">名称</th>
            <th style="width: 15%">温度</th>
            <th style="width: 15%">湿度</th>
            <th style="width: 15%">压力</th>
            <th style="width: 15%">二氧化碳浓度</th>
            <th style="width: 15%">时间</th>
        </tr>
    </table>


    <div class="row" id="menu">
        <div class="col-md-2">
            <div class="dropdown" style="">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    停止采集
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="closeList">
                </ul>
            </div>
        </div>
        <div class="rol-md-8">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="改变传感器采集时间" id="flashTime">
                <button class="btn btn-default" onclick="changeTime()">(单位s) 改变</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    查看历史
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="historyList">
                </ul>
            </div>
        </div>
    </div>
    <div id="forTable">

    </div>
</div>
</body>
</html>