<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 绑定一个对应的Mapper接口-->
<mapper namespace="server.dao.SensorMapper">
    <!--id对应方法名,resultType返回一种类型，resultMap返回多个类型，使用全限定名-->
    <insert id="insertInfo" parameterType="server.pojo.SensorData">
        insert into information (name,temperature,humidity,pressure,concentration_of_co2) values (#{name},#{temperature},#{humidity},#{pressure},#{concentrationOfCO2})
    </insert>
    <insert id="insertNowData" parameterType="server.pojo.SensorData">
        insert into latest (name,temperature,humidity,pressure,concentration_of_co2) values (#{name},#{temperature},#{humidity},#{pressure},#{concentrationOfCO2})
    </insert>
    <update id="updateNowData" parameterType="server.pojo.SensorData">
        update latest set name=#{name},temperature=#{temperature},humidity=#{humidity},pressure=#{pressure},concentration_of_co2=#{concentrationOfCO2} where name=#{name}
    </update>
    <select id="getInfoByName" resultType="server.pojo.SensorData">
        select * from information where name=#{name}
    </select>
    <select id="getNowData" resultType="server.pojo.SensorData">
        select * from latest where name=#{name}
    </select>
    <select id="selectAllData" resultType="server.pojo.SensorData">
        select * from latest;
    </select>
</mapper>